  <tr>
    <td><a href="/people/{% e $person_id %}">Info</a></td>
    <td>{% e $relationship %}</td>
    <td>{% e "$first_name $last_name" %}</td>
    <td>{% if ($email) { my $e = e $email; qq(<a href="mailto:$e">$e</a>) } else { '-' } %}</td>
    <td>{% if ($phone) { my $p = e $phone; qq(<a href="tel:$p">$p</a>); } else { '-' } %}</td>
  </tr>
