<div id="person-email">
  <h1>Emails</h1>
  <form method="post">
    <ul id="person-email-list">
      {% use strict;
        join("\n      ", map {
          my $e = e $emails[$_];
          qq(<li><input type="email" name="email_$_", id="person-email-$_", value="$e" /></li>);
        } 0 .. $#emails + 2);
      %}
    </ul>
    <input type="submit" value="Save" />
    <button type="reset" />Reset</button>
    <a href="/people/{% $person_id %}">Cancel</a>
  </form>
</div>
